.b1
{
    width: 75%;
    height: 15px;
    background-color: red;
    float: left;
}

.b2
{
    width: 25%;
    height: 15px;
    background-color: blue;
    float: left;
}

.b3
{
    width: 150%;
    height: 10px;
    background-color: blueviolet; 
    float: left;
}

.b4
{
    width: 150%;
    height: 10px;
    background-color: pink;
    float: left;
}

.b5
{
    width: 150%;
    height: 10px;
    background-color: yellow;
    float: left;
}

.b6
{
    width: 150%;
    height: 10px;
    background-color: orange;
    float: left;
}

.b7
{
    width: 150%;
    height: 10px;
    background-color: orangered;
    float: left;
}

.b8
{
    width: 150%;
    height: 10px;
    background-color: lightblue;
    float: left;
}

.b9
{
    width: 150%;
    height: 10px;
    background-color: greenyellow;
    float: left;
}